<h1>Register Form</h1>
<div class="form">
	<form action="/users/register" method="post">
		<label for="username">Username</label>
		<input id="username" name="username" required type="text" value="{{username}}">
		<label for="password">Password</label>
		<input id="password" name="password" required type="password">
		<label for="rePassword">Confirm Password</label>
		<input id="rePassword" name="rePassword" type="password">
		<input type="submit" value="Register">
	</form>
</div>