<h1>Browser</h1>
<form action="/cubes/find" method="post">
	<input class="search" name="search" placeholder="Search..." type="text">
	<input type="number" name="from" class="difficulty" placeholder="Difficulty from...">
	<span>-</span>
	<input type="number" name="to" class="difficulty" placeholder="Difficulty to...">
	<input type="submit" value="search">
</form>
<div class="cube">
	<img class="cube" src="https://images-na.ssl-images-amazon.com/images/I/61hfrKXGt9L._SX425_.jpg">
	<p class="name">Gan356 Air SM</p>
	<p><span>Difficulty level:</span> 3</p>
	<a class="btn" href="/cubes/details/5d8e21fa86a4dcec0d57d937">Details</a>
</div>
<div class="cube">
	<img class="cube" src="https://images-na.ssl-images-amazon.com/images/I/41Zjb0YFHIL._SY355_.jpg">
	<p class="name">Eco-Dark</p>
	<p><span>Difficulty level:</span> 6</p>
	<a class="btn" href="/cubes/details/5d91ddbcf1b84df162735321">Details</a>
</div>
<div class="cube">
	<img class="cube" src="https://images-na.ssl-images-amazon.com/images/I/61izOzq%2BBAL._SY355_.jpg">
	<p class="name">Pyraminx</p>
	<p><span>Difficulty level:</span> 2</p>
	<a class="btn" href="/cubes/details/5d91de2e1b3022dcd4fea406">Details</a>
</div>
<div class="cube">
	<img class="cube" src="https://images-na.ssl-images-amazon.com/images/I/61HpQqVQ37L._SY355_.jpg">
	<p class="name">Megaminx</p>
	<p><span>Difficulty level:</span> 4</p>
	<a class="btn" href="/cubes/details/5d91de431b3022dcd4fea407">Details</a>
</div>