<h1>Browser</h1>
<form action="/cubes/search" method="post">
	<input class="w50" name="name" placeholder="Cube name or part of it" type="text">
	<input class="w20" min="1" name="difficultyFrom" placeholder="Difficulty from" type="number">
	<span>-</span>
	<input class="w20" min="1" name="difficultyTo" placeholder="Difficulty to" type="number">
	<input type="submit" value="Search">
</form>
{{#each cubes}}
<div class="cube">
	<img class="cube" src="{{this.imageUrl}}">
	<p class="name">{{this.name}}</p>
	<p><span>Difficulty level:</span> {{this.difficulty}}</p>
	<a class="btn" href="/cubes/details/{{this._id}}">Details</a>
</div>
{{/each}}