<h1>Delete Cube</h1>
<div class="form">
	<form action="/cubes/delete/{{cube._id}}" method="post">
		<label for="name">Name</label>
		<input id="name" name="name" type="text" value="{{cube.name}}" disabled>
		<label for="description">Description</label>
		<textarea id="description" name="description" disabled>{{cube.description}}</textarea>
		<label for="imageUrl">Image URL</label>
		<input id="imageUrl" name="imageUrl" type="text" value="{{cube.imageUrl}}" disabled>
		<label for="difficulty">Difficulty</label>
		<select id="difficulty" name="difficulty" disabled>
			{{#select cube.difficulty}}
			<option value="1">1 - Very Easy</option>
			<option value="2">2 - Easy</option>
			<option value="3">3 - Medium (Standard 3x3)</option>
			<option value="4">4 - Intermediate</option>
			<option value="5">5 - Expert</option>
			<option value="6">6 - Hardcore</option>
			{{/select}}
		</select>
		<input type="submit" value="Confirm delete">
	</form>
</div>